<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>{% block title %}Secure Personal Cloud{% endblock %}</title>
  </head>
  <body>
    <style>
      .btn-link{
            border:none;
            outline:none;
            background:none;
            cursor:pointer;
            color:#0000EE;
            padding:0;
            text-decoration:underline;
            font-family:inherit;
            font-size:inherit;
          }
    </style>
    <header>
      <div class="container-fluid">
      <h1>Welcome to Secure Personal Cloud</h1>
      <hr>
      <p style="text-align: left"> <i> Your secrets are safe with me. Although I don't know any of them :p </i></p>
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>/ <a href="{% url 'change_password' %}"> Change Password </a>

      {% else %}
        <a href="{% url 'login' %}">Login</a> / <a href="{% url 'signup' %}">Signup</a>
      {% endif %}
      <hr>
    </div>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
  </body>
</html>
