{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <h2 style="margin-left: 10px;">Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p style="margin-left: 10px;">
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red;margin-left: 10px;">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" style="margin-left: 10px;">Sign up</button>
  </form>
</div>
{% endblock %}
